.empty-data-component {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.empty-data-component .big-image {
  width: 200px;
  height: auto;
}

.empty-data-component .title {
  font-size: 24px;
  margin-top: 20px;
}

.empty-data-component .description {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .empty-data-component {
    width: 90%;
  }

  .empty-data-component .big-image {
    width: 100px;
    height: auto;
  }
}
