.three-column-layout-style {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 0px;
}

.three-column-layout-style > div {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .three-column-layout-style {
    flex-wrap: wrap;
  }

  .three-column-layout-style > div {
    min-width: 100%;
  }
}
