.tab-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.tab-section > div:nth-of-type(1) {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  align-items: center;
  flex: 1;
}

.tab-item {
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-right: 10px;
  width: 195px;
}

.tab-item:hover {
  border: 2px solid white !important;
}

.add-tab-button {
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.tab-item:hover .tab-actions {
  display: inline-block;
}

.tab-item .tab-actions {
  display: none;
}

.tab-item .tab-actions span {
  margin-left: 10px;
}

.tab-section > div:nth-of-type(1)::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}
