.tab-component-style {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}

.tab-component-style > div:nth-of-type(1) {
  width: 100%;
  display: flex;
  grid-gap: 10px;
  flex-wrap: wrap;
  flex: 1;
  padding: 5px 0px;
}

.tab-component-style > div:nth-of-type(1)::-webkit-scrollbar {
  display: none;
}

.tab-component-style .add-tab-button {
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.tab-item-button {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  border-radius: 5px;
  position: relative;
}

.tab-item-button .active-icon {
  position: absolute;
  top: -5px;
  left: 1px;
}

.tab-item-button .tab-actions {
  position: absolute;
  top: -64%;
  right: 0px;
  display: none;
}

.tab-item-button:hover .tab-actions {
  display: block;
}

@media screen and (max-width: 768px) {
  .tab-component-style > div:nth-of-type(1) {
    display: flex;
  }

  .tab-item-button {
    min-width: 150px;
  }
}
